:root {
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto-geral: #000000;
  --texto-baiao: #000000;
}
@media (prefers-colors-scheme: dark) {
  :root {
    --fundo-1: #000000;
    --fundo-2: #000000;
    -texto-geral: #ffffff;
    --texto-baiao: #ffffff;
  }
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: var(--fundo-1);
  margin: 10px 20px;
  align-items: center;
}
h1 {
  font-size: 70px;
  display: flex;
  color: var(--texto-baiao);
  margin: 0px;
  padding: 0px 0px;
}
h3 {
  color: var(--texto-baiao);
}
p {
  color: var(--texto-baiao);
}
a {
  text-decoration: none;
  color: var(--texto-baiao);
  background: var(--fundo-1);
  transition: 0.3s;
}
h2 {
  color: var(--texto-baiao);
  padding: 0px 0px;
  font-size: 30px;
}
img {
  max-width: 100%;
}
.display-h1-start {
  place-content: start;
}
.display-h1-center {
  place-content: center;
  padding: 70px 0px;
}
.display {
  display: grid;
  align-items: center;
}
.cabecalho {
  grid-template-columns: 1fr 1fr;
}
.flex-icon-reserva {
  display: flex;
  gap: 20px;
  justify-content: end;
}
.cabecalho-reserva {
  font-size: 25px;
}
.slogan {
  display: grid;
  justify-content: center;
  padding: 70px;
  font-size: 30px;
}
/*css rodapé*/

.flex-rodape {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 40px 0px;
  place-content: center;
  text-decoration: none;
  font-size: 20px;
}
.detalhe-rodape {
  text-align: center;
  height: 1px;
  background-color: black;
}
/* css contato*/
.icon-msg-tel {
  max-width: 3%;
}
.grid-infos {
  display: grid;
  font-size: 25px;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: 0px;
  font-size: 27px;
}
.flex-infos {
  text-align: start;
  margin: 0px;
  padding: 20px 20px;
}
