:root {
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto-geral: #000000;
  --texto-baiao: #000000;
}
@media (prefers-colors-scheme: dark) {
  :root {
    --fundo-1: #000000;
    --fundo-2: #000000;
    -texto-geral: #ffffff;
    --texto-baiao: #ffffff;
  }
}
body {
  background: var(--fundo-1);
}
ul {
  list-style: none;
  margin: 0px;
  padding-top: 100px;
  display: grid;
  justify-content: center;
}
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--texto-baiao);
  display: block;
  margin: 20px 0px;
  text-align: center;
  font-size: 25px;
}
